# Current default is gemini
GEMINI_API_KEY="Your gemini api key"
# used if changing constants CHOSEN_LLM to CHATGPT_LLM
AZURE_OPENAI_DEPLOYMENT="Your azure openai deployment"
AZURE_OPENAI_ENDPOINT="Your azure openai endpoint"
AZURE_OPENAI_API_KEY="Your azure openai api key"
AZURE_OPENAI_API_VERSION="Your azure openai api version"


